{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать {% endblock %}

{% block body %}
    <h1>Добро пожаловать </h1>
    <p><b>Email:</b> {{ app.user.email }}</p>
    <p><b>Passport:</b> {{ app.user.passport }}</p><br>
{% endblock %}

