{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <h1>Авторизация тут</h1>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
    <a href="{{ path('app-sign-up') }}">Регистрация</a>
    {{ include('social_auth_back.html.twig') }}
{% endblock %}

