{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрируйся тут или вход <a href="{{ path('auth') }}">Вход</a></h1>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
    {{ include('social_auth_back.html.twig') }}
{% endblock %}


